* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
body{
    background-image: url("./bg_img_1.jpeg");
} */

#logo {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#im {
    /* border: none;
    padding: 0;
    background: none;
    padding: 10px 10px 10px 10px; */
    text-align: center;
}

.dim {
    border: none;
    padding: 0;
    background: none;
    padding: 10px 10px 10px 10px;
}

#main_panel {
    /* margin: 25px 25px 25px 25px; */
    /* margin-left:250px;
    margin-right: 250px; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 50px; */
    margin-top: 20px;
}

.dim:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 50px;
}

#pg2 {
    background: url("./bg_img_8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#Audio {}

#cover {
    width: 300px;
    height: 300px;
    /* padding-top:50px; */
    box-shadow:0px 0px 50px black;
    /* display:grid; */
}

.slider {
    text-align: center;
    padding:0px 500px 0px 500px;
    /* width:100%; */
    /* margin:10px 10px 10px 100px; */
    -webkit-appearance: none;
    /* width: 100%; */
    /* height: 25px; */
    background: none;
    outline: none;
    opacity: 5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display:grid;
    /* grid-template-columns: 1 1 1 1; */
    /* margin-left:auto;     */

}

.slider:hover{
    /* cursor: pointer; */

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #797a7a;
    fill:grey;
    cursor: pointer;
}

#name-panel{
    text-align: center;
    color:black;
    font-family: Jazz LET, fantasy;
    font-weight: bold;
    font-variant: small-caps;
    font-size: xx-large;
}

